* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Brutal Type";

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1167px;
    margin: 0 auto;
}
header {
    height: 147px ;
    background-color: #ffc638;
}
header .loginEnter a,
.loginReg a {
    font-size: 13px;
    color: #11252d;
}

header .menu li a {
    font-size: 16px;
    color: #11252d;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

header .time .icon-clock1, input {
    background-color: #2baf68;
    font-size: 20px;
    color: #ffffff;
}

header img {
    height: 80px;
    width: 168px;
}

header .headerWrapper .left {
    width: 70%;
    float: left;
}

header .headerWrapper .right {
    width: 30%;
    float: left;
}
.leftUp {
    display: flex;
    flex-flow: row wrap;
    height: 60px;
    width: 710px;
    justify-content: space-between;
    align-items: center;
}
.menuHeader .menu li {
    display: inline-block;
}

.menuHeader .menu li + li {
    display: inline-block;
    margin-left: 50px;
}

header .time {
    display: flex;
    flex-direction: row;
    width: 130px;
    height: 25px;
    justify-content: space-around;
}

header .login > div {
    display: inline-block;
}

header .login > div + div {
    margin-left: 25px;
}
.social {
    display: flex;
    justify-content: space-between;
    width: 210px;
}
 /*------------------------------------------------------*!*/
.banner {
    height: 600px;
}
 .banner .left {
     margin-top: 290px;
 }
.banner .left h1 {
    font-size: 41.4px;
    font-weight: 100;
    text-align: left;
}

.banner .left p {
    font-size: 81px;
    font-weight: 700;
    text-align: left;
}

.banner .left button {
    color: #ffffff;
    background-color: #2baf68;
    font-size: 16px;
    font-weight: 700;
}
/*---------------------------------------------------------*/
.about .left span:first-child {
    font-size: 21.5px;
    color: #2baf68;
    font-weight: 600;
    text-transform: uppercase;
}

.about .left span {
    font-size: 29.5px;
    color: #11252d;
    font-weight: bold;
    text-transform: uppercase;
}

.about .left button {
    font-size: 16px;
    color: #11252d;
    font-weight: bold;
    background-color: #ffc638;
}
.about .aboutWrap .left {
    width: 35%;
    float: left;
}
.aboutWrap .right {
    width: 65%;
    float: left;
}

.about .right p {
    font-size: 16px;
    color: #11252d;
    font-weight: 600;
}

.about .right p:first-child {
    font-size: 16px;
    color: #11252d;
    font-weight: 300;
}

.about .aboutWrap .left {
    width: 35%;
    float: left;

}

.about .aboutWrap .right {
    width: 65%;
    float: left;

}
/*----------------------------------*/
.supWrap {
    width: 1170px;
    height: 570px;
}
.support .supWrap .discription {
    width: 990px;
    height: 575px;
    position: relative;
    background-color: #5a6164;
}

.support .discription h2 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.support .discription p {
    font-size: 16px;

}

.support span {
    font-size: 18px;
    color: #d5efe1;
}

.support a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #d5efe1;
}

.support .menuSup {
    width: 360px;
    height: 475px;
    background-color: #2baf68;
}

.blockSup {
    width: 250px;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
}
/*-------------------------------------*/


/*-------------------------------------*/
.graph .graphWrap .shedule {
    width: 358px;
    float: left;
    padding: 117px 64px 110px 0;
}

.graph .graphWrap .graphImg {
    width: 750px;
    float: left;
    padding: 117px 0 110px 0;

}

.clear::after {
    content: '';
    display: block;
    clear: both;

}

.graph .shedule p {
    font-size: 34px;
    color: #11252d;
    font-weight: bold;
    text-transform: uppercase;
}

.graph .shedule span:first-child {
    font-size: 16px;
    color: #2baf68;
    font-weight: 600;
    text-transform: uppercase;
}

.graph .shedule span {
    font-size: 16px;
    color: #415157;
}
/*-------------------------------------------*/
.dis {
    width: 1170px;
}
.discript {
    width: 220px;
}

.dis .discript .itemDiscript span {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.dis .discript .itemDiscript .greenNum {
    font-size: 13px;
    color: #2baf68;
    text-align: center;
}

.dis .discript .itemDiscript p {
    font-size: 12px;
    font-weight: 100;
    color: #000000;
    text-align: center;
}

.dis .discript {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*--------------------------------------------------*/
.cash p {
    font-size: 34px;
    color: #11252d;
    font-weight: bold;
    text-transform: uppercase;
}

.cash span {
    font-size: 16px;
    color: #2baf68;
    font-weight: 600;
    text-transform: uppercase;
}

.cashWrap>div {
    width: 50%;
    float: left;
    padding: 120px 0 115px 0;
}
/*---------------------------------------------------------*/
.news .caption>div {
    width: 50%;
    float: left;
}

.news .item .itemNews {
    width: 50%;
    float: left;

}

.news .item .itemNews>div {
    width: 50%;
    float: left;
}


.news .titNews span {
    font-size: 34px;
    color: #11252d;
    font-weight: bold;
    text-transform: uppercase;
}

.news .titNews p {
    font-size: 16px;
    color: #2baf68;
    font-weight: 600;
    text-transform: uppercase;
}

.news button a {
    font-size: 16px;
    color: #102831;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #ffc638;
    text-decoration: none;
}

.news .itemNews p {
    font-size: 18px;
    color: #102831;
    font-weight: bold;
    text-transform: uppercase;
}

.news .itemNews {
    width: 210px;
}

.newsImage {
    width: 283px;
    height: 269px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Вторая страница*/
.bannerContacts span {
    font-size: 90px;
    line-height: 100px;
    text-transform: uppercase;
    font-weight: 900;
}

.depTit p {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
    font-weight: bold;
}

.depTit span {
    font-size: 40px;
    line-height: 90px;
    color: #11252d;
    font-weight: 900;
}

.depList span:last-child {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
}

.depList a.phone {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #11252d;
    text-decoration: none;
}

.depList a {
    font-size: 16px;
    line-height: 20px;
    color: #2baf68;
}

.depList p {
    font-size: 14px;
    line-height: 20px;
    color: #5a6164;
}

.mapAdress {
    background-color: #2baf68;
    width: 364px;
}

.mapAdress p {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
}

.mapAdress span:nth-child(2),
span:nth-child(4) {
    font-size: 18px;
    line-height: 30px;
    color: #102831;
    font-weight: bold;
    text-transform: uppercase;
}

.titQ span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
    font-weight: bold;
    text-transform: uppercase;
}

.titQ p {
    font-size: 40px;
    line-height: 50px;
    color: #11252d;
    font-weight: 900;
    text-transform: uppercase;
}

.btnQ input {
    background-color: #ffc638;
}

.rightQ input {
    background-color: white;
}

.rightQ label {
    font-size: 16px;
    line-height: 110px;
    color: #11252d;
    text-transform: uppercase;
    font-weight: bold;
}

.rightQ span {
    font-size: 16px;
    line-height: 110px;
    color: #2baf68;
    font-weight: bold;
}

/*FOOTER*/
footer .upFooter > div {
    width: 25%;
    float: left;
}

footer .downFooter > div {
    width: 50%;
    float: left;
}

footer .upFooter img {
    height: 206px;
    width: 161px;
}

footer .logoFooter img {
    height: 104px;
    width: 218px;
}

footer .location p {
    font-size: 11px;

}

footer .location {
    width: 237px;
}

footer .location a {
    font-size: 11px;
    text-decoration: none;
    color: #ffc638;
}

footer .menuFooter ul {
    list-style-type: square;

}

footer .menuFooter a {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.copyright span {
    font-size: 14px;
    color: #102831;
}

.adressFooter span{
    display: inline-block;

}








