* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Brutal Type";
    width: 1920px;

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1167px;
    margin: 0 auto;
}
header {
    height: 110px ;
    background-color: #ffffff;
}
header .loginEnter a,
.loginReg a {
    font-size: 13px;
    color: #11252d;
}

header .menu li a {
    font-size: 16px;
    color: #11252d;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

header .time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    width: 130px;
    height: 25px;
    background-color: #2baf68;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
}
header .time span {
    width: 20px;
    height: 20px;
}
header .time p {
    font-size: 20px;
    line-height: 15px;
    font-weight: bold;
    background-color: #2baf68;
    border: none;
    color: white;
    height: 14px;
    width: 80px;
    margin: 0px 15px 0px 10px;
}

header img {
    height: 80px;
    width: 168px;
    margin: 27px 380px 27px 185px;
}

header .headerWrapper .left {
    width: 70%;
    float: left;
}

header .headerWrapper .right {
    width: 30%;
    float: left;
}
.leftUp {
    display: flex;
    flex-flow: row wrap;
    height: 60px;
    width: 710px;
    justify-content: space-between;
    align-items: center;
}
.menuHeader .menu li {
    display: inline-block;
}

.menuHeader .menu li + li {
    display: inline-block;
    margin-left: 50px;
}



header .login > div {
    display: inline-block;
}

header .login > div + div {
    margin-left: 25px;
}
.social {
    display: flex;
    justify-content: space-between;
    width: 215px;
}
.social a {
    text-decoration: none;
}

.social span {
    font-size: 20px;
    border: 1px solid #102831;
    border-radius: 50%;
}
 /*------------------------------------------------------*!*/
.banner .bgBanner{
    height: 900px;
    width: 1920px;
    position: relative;

}
 .banner .left {
     position: absolute;
     top: 280px;
     bottom: 260px;
 }
.banner .left h1 {
    font-size: 41.4px;
    font-weight: 100;
    text-align: left;
    color: #ffffff;
    box-shadow: 16px 16px 21px 0px rgba(0, 0, 0, 0.21);
}

.banner .left p {
    font-size: 81px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
    box-shadow: 16px 16px 21px 0px rgba(0, 0, 0, 0.21);
}

.banner .left button {
    width: 250px;
    height: 55px;
    border: none;
    border-radius: 55px;
    margin-top: 78px;
    color: #ffffff;
    background-color: #2baf68;
    font-size: 16px;
    font-weight: 700;
}
/*---------------------------------------------------------*/
.about {
    height: 450px;
}
.about .left , .about .right {
    margin-top: 120px;
    margin-bottom: 105px;
}
.about .left span:first-child {
    font-size: 21.5px;
    color: #2baf68;
    font-weight: 600;
    text-transform: uppercase;

}

.about .left span {
    font-size: 29.5px;
    color: #11252d;
    font-weight: bold;
    text-transform: uppercase;
}

.about .left button {
    font-size: 16px;
    color: #11252d;
    font-weight: bold;
    background-color: #ffc638;
    margin-top: 105px;
    border: none;
    width: 250px;
    height: 55px;
    border-radius: 55px;
}
.about .aboutWrap .left {
    width: 35%;
    float: left;
}
.aboutWrap .right {
    width: 65%;
    float: left;
}
.about .right {
    width: 765px;
    height: 225px;
}
.about .right p {
    font-size: 16px;
    color: #11252d;
    font-weight: 600;
}

.about .right p:first-child {
    font-size: 16px;
    color: #11252d;
    font-weight: 400;
    padding-bottom: 40px;
}

.about .aboutWrap .left {
    width: 35%;
    float: left;

}

.about .aboutWrap .right {
    width: 65%;
    float: left;

}
/*----------------------------------*/
.support {
    height: 695px;
}
.support .discription {
    width: 990px;
    height: 573px;
    position: relative;
    background-color: #102831;
}
.support .discription .titSup{
    height: 340px;
    width: 585px;
    padding-top: 145px;
    padding-bottom: 215px;
    margin-left: 78px;
}

.support .discription .titSup h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin-top: 65px;
}

.support .discription .titSup p{
    font-size: 16px;
    line-height: 26px;
    color: white;
    margin-top: 56px;
}

.support .discription .titSup span {
    font-size: 115px;
    color: #ffc638;
}

.support .discription .disP {
    width: 585px;
    height: 65px;
    font-size: 16px;
    line-height: 26px;
    color: white;
    margin-left: 78px;
    margin-top: 60px;
    margin-bottom: 90px;
}

.support .discription .blocksSup {
    position: absolute;
    background-color: #2baf68;
    width: 365px;
    height: 480px;
    top: 50px;
    right: -185px;
}
.support .discription .blckSup {
    height: 390px;
    width: 245px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 45px;

}
.support .discription .blocksSup span {
    font-size: 40px;
    color: #d5efe1;
    margin-right: 40px;
}
.support .discription .blocksSup .blockSup {
    width: 245px;
    display: flex;
    align-content: space-between;
    padding-bottom: 20px;
}
.support a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #d5efe1;
}

/*-------------------------------------*/


/*-------------------------------------*/
.graph {
    height: 515px;
}
.graph .graphWrap .shedule {
    width: 420px;
    height: 405px;
    float: left;
    padding: 117px 64px 110px 0;
}

.graph .graphWrap .graphImg {
    width: 745px;
    height: 405px;
    float: left;
    padding: 117px 0 110px 0;

}

.clear::after {
    content: '';
    display: block;
    clear: both;

}

.graph .shedule p {
    font-size: 40px;
    line-height: 50px;
    color: #11252d;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 17px;
    margin-bottom: 51px;
}

.graph .shedule span:first-child {
    font-size: 16px;
    line-height: 26px;
    color: #2baf68;
    font-weight: 600;
    text-transform: uppercase;
}

.graph .shedule span {
    font-size: 16px;
    color: #415157;
}
/*-------------------------------------------*/

.dis .bgDis {
    height: 490px;
    width: 1920px;

}
.dis .discript {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    padding-top: 120px;
}

.dis .discript .itemDiscript {
    width: 220px;
    height: 270px;
    text-align: center;
}

.dis .discript .itemDiscript span:first-child {
    font-size: 90px;
    color: #47c481;
    text-align: center;
    padding-bottom: 90px;
}
.dis .discript .itemDiscript span {
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;

}

.dis .discript .itemDiscript .greenNum {
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    color: #2baf68;

}

.dis .discript .itemDiscript p {
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}



/*--------------------------------------------------*/
.cash p {
    font-size: 34px;
    color: #11252d;
    font-weight: bold;
    text-transform: uppercase;
}

.cash span {
    font-size: 16px;
    color: #2baf68;
    font-weight: 600;
    text-transform: uppercase;
}

.cashWrap>div {
    width: 50%;
    float: left;
    padding: 120px 0 115px 0;
}
/*---------------------------------------------------------*/
.news {

    height: 741px;
    background-color: #f0f1f1;
}
.news .caption > div {
    width: 50%;
    float: left;
}

.news .caption .titNews {
    margin-top: 120px;

}
.news .caption .titBtn {
    width: 210px;
    height: 55px;
    background-color: #ffc638;
    border: none;
    border-radius: 55px;
    margin: 135px 0 65px 355px;

}

.news .item .itemNews{
    width: 560px;
    float: left;
    background-color: white;
    margin: 0 3px;
}


.news .item .itemNews > div {
    width: 50%;
    float: left;
}


.news .titNews span {
    font-size: 34px;
    color: #11252d;
    font-weight: bold;
    text-transform: uppercase;
}
.news .item .itemNews input{
    width: 140px;
    height: 30px;
    background-color: #2baf68;
    border: none;
    border-radius: 30px;
    text-align: center;
    color: #ffffff;

}
.news .titNews p {
    font-size: 16px;
    color: #2baf68;
    font-weight: 600;
    text-transform: uppercase;
}

.news button a {
    font-size: 16px;
    color: #102831;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #ffc638;
    text-decoration: none;
}

.news .itemNews p {
    font-size: 18px;
    color: #102831;
    font-weight: bold;
    text-transform: uppercase;
}



.newsImage {
    width: 283px;
    height: 269px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Вторая страница*/
.bannerContacts {
    height: 330px;
    width: 1920px;
}

.bannerContacts .bgContacts{
    height: 330px;
    width: 1920px;
}


.bannerContacts .titContacts span {
    font-size: 90px;
    line-height: 100px;
    text-transform: uppercase;
    font-weight: 900;
}
/*----------------------*/
.department {
    height: 710px;
}
.department .depItem {
    width: 560px;
    height: 475px;
    float: left;
    margin-top: 120px;
}

.department .depItem .grafik {
    width: 605px;
    height: 345px;
    margin-top: 133px;
    border: 1px solid #dfe5e8

}

.depTit p {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
    font-weight: bold;
}

.depTit span {
    font-size: 40px;
    line-height: 90px;
    color: #11252d;
    font-weight: 900;
}

.depList span:last-child {
    font-size: 16px;
    line-height: 26px;
    color: #11252d;
}

.depList a.phone {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #11252d;
    text-decoration: none;
}

.depList a {
    font-size: 16px;
    line-height: 20px;
    color: #2baf68;
}

.depList p {
    font-size: 14px;
    line-height: 20px;
    color: #5a6164;
}

.mapAdress {
    background-color: #2baf68;
    width: 364px;
}

.mapAdress p {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
}

.mapAdress span:nth-child(2),
span:nth-child(4) {
    font-size: 18px;
    line-height: 30px;
    color: #102831;
    font-weight: bold;
    text-transform: uppercase;
}

.titQ span {
    font-size: 20px;
    line-height: 50px;
    color: #2baf68;
    font-weight: bold;
    text-transform: uppercase;
}

.titQ p {
    font-size: 40px;
    line-height: 50px;
    color: #11252d;
    font-weight: 900;
    text-transform: uppercase;
}

.btnQ input {
    background-color: #ffc638;
}

.rightQ input {
    background-color: white;
}

.rightQ label {
    font-size: 16px;
    line-height: 110px;
    color: #11252d;
    text-transform: uppercase;
    font-weight: bold;
}

.rightQ span {
    font-size: 16px;
    line-height: 110px;
    color: #2baf68;
    font-weight: bold;
}

/*FOOTER*/
footer .upFooter > div {
    width: 25%;
    float: left;
}

footer .downFooter > div {
    width: 50%;
    float: left;
}

footer .upFooter img {
    height: 206px;
    width: 161px;
}

footer .logoFooter img {
    height: 104px;
    width: 218px;
}

footer .location p {
    font-size: 11px;

}

footer .location {
    width: 237px;
}

footer .location a {
    font-size: 11px;
    text-decoration: none;
    color: #ffc638;
}

footer .menuFooter ul {
    list-style-type: square;

}

footer .menuFooter a {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.copyright span {
    font-size: 14px;
    color: #102831;
}

.adressFooter span{
    display: inline-block;

}








